flows.json
[{"id":"94462209.892c98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"33b916a3.94393a","type":"ibmiot in","z":"94462209.892c98","authentication":"apiKey","apiKey":"61c6ca08.142284","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":160,"wires":[["f7d19db7.6bfa38","9743a788.2d3d68","e4ec25a0.70ece"]]},{"id":"2b61a855.035b8","type":"debug","z":"94462209.892c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":180,"wires":[]},{"id":"f7d19db7.6bfa38","type":"function","z":"94462209.892c98","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["2b61a855.035b8","fa8850bd.cb4398"]]},{"id":"9743a788.2d3d68","type":"function","z":"94462209.892c98","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["2b61a855.035b8","c6381553.c60678"]]},{"id":"e4ec25a0.70ece","type":"function","z":"94462209.892c98","name":"Soil_moisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["2b61a855.035b8","861cece.daae19"]]},{"id":"fa8850bd.cb4398","type":"ui_gauge","z":"94462209.892c98","name":"","group":"2e1f4fb6.322a2","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":40,"wires":[]},{"id":"c6381553.c60678","type":"ui_gauge","z":"94462209.892c98","name":"","group":"16f51f8c.4f434","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":100,"wires":[]},{"id":"861cece.daae19","type":"ui_gauge","z":"94462209.892c98","name":"","group":"6a0d2a4b.a512dc","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil_moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":320,"wires":[]},{"id":"4cb18ee4.dcd55","type":"inject","z":"94462209.892c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":190,"y":320,"wires":[["16ea270e.84efc1"]]},{"id":"16ea270e.84efc1","type":"http request","z":"94462209.892c98","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=afe15a9bef774e59e5262709aa74edd2","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":320,"wires":[["2b61a855.035b8"]]},{"id":"87c88b61.84fd5","type":"ibmiot out","z":"94462209.892c98","authentication":"apiKey","apiKey":"61c6ca08.142284","outputType":"cmd","deviceId":"Motor","deviceType":"IOTDevice","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":440,"wires":[]},{"id":"65de59bd.f0302","type":"ui_button","z":"94462209.892c98","name":"","group":"cb05ab0d.bbc4","order":1,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":270,"y":480,"wires":[["87c88b61.84fd5"]]},{"id":"13c14651.581c6a","type":"ui_button","z":"94462209.892c98","name":"","group":"cb05ab0d.bbc4","order":0,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":280,"y":400,"wires":[["87c88b61.84fd5"]]},{"id":"61c6ca08.142284","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2e1f4fb6.322a2","type":"ui_group","z":"","name":"Smart Agriculture temperature","tab":"65147fc6.d0e138","order":3,"disp":true,"width":"6","collapse":false},{"id":"16f51f8c.4f434","type":"ui_group","z":"","name":"Smart Agriculture humidity","tab":"65147fc6.d0e138","order":2,"disp":true,"width":"6","collapse":false},{"id":"6a0d2a4b.a512dc","type":"ui_group","z":"","name":"Smart Agriculture Soil_moisture","tab":"65147fc6.d0e138","order":1,"disp":true,"width":"6","collapse":false},{"id":"cb05ab0d.bbc4","type":"ui_group","z":"","name":"Motor commands","tab":"65147fc6.d0e138","order":5,"disp":true,"width":"6","collapse":false},{"id":"65147fc6.d0e138","type":"ui_tab","z":"","name":"Smart Agriculture","icon":"dashboard","disabled":false,"hidden":false}]